.widget-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.widget-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.widget-playerchar-layer {
}

.widget-fx-layer {

}

.sprite-fx {
  position: absolute;
  transform-origin: 0% 0%;
  image-rendering: pixelated;
}

.widget-debug {
  position: absolute;
  left: 0;
  top: 0;
}
