.widget-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.widget-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.widget-playerchar-layer {
}

.widget-fx-layer {

}

.sprite-fx {
  position: absolute;
  transform-origin: 0% 0%;
  image-rendering: pixelated;
}

.widget-debug {
  position: absolute;
  left: 0;
  top: 0;
}

.arena {
  position: absolute;
  width: 336px;
  height: 126px;
  margin-left: -168px;
  margin-top: -126px;
  left: 50%;
  top: 150%;
  transition: top 3s linear;
  transform-origin: 50% 100%;
  transform: scale(2);
  image-rendering: pixelated;
}


.outlined-text {
  color: white;
}

.outlined-text .outline {
  position: absolute;
  left: 0;
  top: 0;
  color: black;
  -webkit-text-stroke: 8px black;
  z-index: 2;
}

.outlined-text .fill {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
