@import "./global";
@import "./widget/hp.scss";
@import "./widget/widgetpage.scss";
@import "./widget/outlined-text.scss";
@import "./widget/playerchar.scss";

#main {
  position: relative;
  width: 100%;
  height: 100%;
}
